<!-- -->
<launch>
	<arg name="sensor_type" default="Evo_3m"/>
	<arg name="output" default="screen"/>
    <arg name="robot_namespace" default="scout" />

	<node pkg="teraranger" type="evo" name="evo" ns="$(arg robot_namespace)" output="screen">
        <param name="sensor_type" value="$(arg sensor_type)" />
     	</node>
   
</launch>


